/* Code tidied up by ScrapBook */
@keyframes breathe {
0% { opacity: 1; }
100% { opacity: 0.4; }
}
@keyframes breathe {
0% { opacity: 1; }
100% { opacity: 0.4; }
}
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("icons.eot") format("embedded-opentype"), url("icons.ttf") format("truetype");
}
@font-face {
  font-family: "theme";
  font-style: normal;
  font-weight: normal;
  src: url("theme-icons.eot") format("embedded-opentype"), url("theme-icons.ttf") format("truetype");
}
.icon, .icon-a::after, .icon-b::before { font-family: "icomoon" ! important; font-weight: normal ! important; font-style: normal ! important; display: inline-block; min-width: 1em; }
.theme.icon, .theme.icon-a::after, .theme.icon-b::before { font-family: "theme" ! important; }
.icon-b::before, .icon-a::after { content: " " attr(data-icon) " "; }
.icon-b::before { padding-right: 0.5em; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
html, body { overflow-x: hidden; }
body { overflow: hidden; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
table { border-collapse: collapse; border-spacing: 0px; }
input, select { vertical-align: middle; }
body { font: 13px/1.231 sans-serif; }
select, input, textarea, button { font: 99% sans-serif; }
:disabled { cursor: not-allowed; }
a:hover, a:active { outline: medium none; }
nav ul, nav li { margin: 0px; list-style: outside none none; }
b, strong, th { font-weight: bold; }
td { vertical-align: top; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0px; box-shadow: none; border-radius: 0px; }
button { padding: 0px; }
button, input[type="button"], input[type="submit"] { -moz-appearance: none; background-image: none; }
button { width: auto; overflow: visible; }
select, input, textarea { color: rgb(68, 68, 68); }
.screen-reader-text, .visuallyhidden { border: 0px none; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
.row, .clearfix { clear: both; }
.row::before, .row::after, .clearfix::before, .clearfix::after { content: " "; display: table; }
.row::after, .clearfix::after { clear: both; }
.row .row { margin-left: -15px; margin-right: -15px; }
.grid-1-1, .grid-1-2, .grid-1-3, .grid-1-4, .grid-1-5, .grid-1-6, .grid-2-3, .grid-2-5, .grid-3-4, .grid-3-5, .grid-4-5, .grid-5-6 { position: relative; float: left; box-sizing: border-box; display: block; padding: 0px 15px; }
.grid-1-1 { width: 100%; }
.grid-1-2 { width: 50%; }
.grid-1-3 { width: 33.3333%; }
.grid-1-4 { width: 25%; }
html, body, th, td, p { color: rgb(118, 118, 118); }
*, p, .main-container { font: 14px/20px "Raleway"; }
h1, h1 a, h1 a:visited { color: rgb(74, 79, 85); }
h1, h1 a { font: bold 36px/42px "Raleway"; }
h2, h2 a, h2 a:visited { color: rgb(54, 67, 82); }
h2, h2 a { font: 800 26px/30px "Raleway"; }
h3, h3 a, h3 a:visited { color: rgb(74, 79, 85); }
h3, h3 a { font: 24px/30px "Raleway"; }
h4, h4 a, h4 a:visited { color: rgb(74, 79, 85); }
h4, h4 a { font: 300 20px/26px "Raleway"; }
a { text-decoration: none; color: rgb(240, 84, 45); transition: color 0.3s ease 0s; }
a .icon.shortcode.use-hover { transition: all 0.3s ease 0s; }
a:hover { text-decoration: none; color: rgb(92, 98, 104); }
a:hover .icon.shortcode.use-hover { color: rgb(54, 67, 82); }
p { margin: 1em 0px; }
p:empty { display: none; }
h1, h2, h3, h4, h5, h6 { margin-top: 0.6em; margin-bottom: 0.6em; }
@keyframes socialCountLoadingFade {
0% { opacity: 0; }
50% { opacity: 0.8; }
100% { opacity: 0; }
}
@keyframes socialCountLoadingFade {
0% { opacity: 0; }
50% { opacity: 0.8; }
100% { opacity: 0; }
}
@keyframes socialCountLoadingFade {
0% { opacity: 0; }
50% { opacity: 0.8; }
100% { opacity: 0; }
}
@keyframes flash {
0%, 50%, 100% { opacity: 1; }
25%, 75% { opacity: 0; }
}
@keyframes flash {
0%, 50%, 100% { opacity: 1; }
25%, 75% { opacity: 0; }
}
@keyframes flash {
0%, 50%, 100% { opacity: 1; }
25%, 75% { opacity: 0; }
}
@keyframes wiggle {
0% { transform: skewX(9deg); }
10% { transform: skewX(-8deg); }
20% { transform: skewX(7deg); }
30% { transform: skewX(-6deg); }
40% { transform: skewX(5deg); }
50% { transform: skewX(-4deg); }
60% { transform: skewX(3deg); }
70% { transform: skewX(-2deg); }
80% { transform: skewX(1deg); }
90% { transform: skewX(0deg); }
100% { transform: skewX(0deg); }
}
@keyframes wiggle {
0% { transform: skewX(9deg); }
10% { transform: skewX(-8deg); }
20% { transform: skewX(7deg); }
30% { transform: skewX(-6deg); }
40% { transform: skewX(5deg); }
50% { transform: skewX(-4deg); }
60% { transform: skewX(3deg); }
70% { transform: skewX(-2deg); }
80% { transform: skewX(1deg); }
90% { transform: skewX(0deg); }
100% { transform: skewX(0deg); }
}
@keyframes wiggle {
0% { transform: skewX(9deg); }
10% { transform: skewX(-8deg); }
20% { transform: skewX(7deg); }
30% { transform: skewX(-6deg); }
40% { transform: skewX(5deg); }
50% { transform: skewX(-4deg); }
60% { transform: skewX(3deg); }
70% { transform: skewX(-2deg); }
80% { transform: skewX(1deg); }
90% { transform: skewX(0deg); }
100% { transform: skewX(0deg); }
}
.button, .vamtam-button, input[type="button"], input[type="submit"] { font-size: 1em; font-weight: normal; display: inline-block; text-align: center; cursor: pointer; position: relative; z-index: 0; vertical-align: middle; -moz-user-select: none; text-decoration: none; text-shadow: none; line-height: 1.15em; background: rgb(240, 84, 45) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding: 0.8em 1.6em; }
.button, .button span, .vamtam-button, .vamtam-button span, input[type="button"], input[type="button"] span, input[type="submit"], input[type="submit"] span { transition: color 0.3s ease 0s, border 0.3s ease 0s, background 0.3s ease 0s; }
.button span, .vamtam-button span, input[type="button"] span, input[type="submit"] span { display: inline-block; font-size: 1em; line-height: inherit; padding: 0.3em 0.4em; margin: 0px; vertical-align: baseline; }
.button span.icon, .vamtam-button span.icon, input[type="button"] span.icon, input[type="submit"] span.icon { font-size: 100%; vertical-align: bottom ! important; }
.button span.icon:first-child, .button span.icon:last-child, .vamtam-button span.icon:first-child, .vamtam-button span.icon:last-child, input[type="button"] span.icon:first-child, input[type="button"] span.icon:last-child, input[type="submit"] span.icon:first-child, input[type="submit"] span.icon:last-child { vertical-align: top; background: transparent none repeat scroll 0% 0%; }
.button span.icon:first-child, .vamtam-button span.icon:first-child, input[type="button"] span.icon:first-child, input[type="submit"] span.icon:first-child { padding: 0.5em 0px 0.5em 0.8em ! important; }
.button span.icon:last-child, .vamtam-button span.icon:last-child, input[type="button"] span.icon:last-child, input[type="submit"] span.icon:last-child { padding: 0.5em 0.8em 0.5em 0px ! important; }
.button span.btext, .vamtam-button span.btext, input[type="button"] span.btext, input[type="submit"] span.btext { position: relative; font-weight: 500; vertical-align: middle; padding: 0.7em 1.2em; letter-spacing: 1px; }
.button:hover, .button:hover span, .vamtam-button:hover, .vamtam-button:hover span, input[type="button"]:hover, input[type="button"]:hover span, input[type="submit"]:hover, input[type="submit"]:hover span { text-decoration: none; }
.button span, .vamtam-button span, input[type="button"] span, input[type="submit"] span { color: rgb(255, 255, 255); }
.button:hover, .button:focus, .button:active, .vamtam-button:hover, .vamtam-button:focus, .vamtam-button:active, input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active { background: rgb(124, 138, 141) none repeat scroll 0% 0%; }
.button:hover, .button:hover span, .button:focus, .button:focus span, .button:active, .button:active span, .vamtam-button:hover, .vamtam-button:hover span, .vamtam-button:focus, .vamtam-button:focus span, .vamtam-button:active, .vamtam-button:active span, input[type="button"]:hover, input[type="button"]:hover span, input[type="button"]:focus, input[type="button"]:focus span, input[type="button"]:active, input[type="button"]:active span, input[type="submit"]:hover, input[type="submit"]:hover span, input[type="submit"]:focus, input[type="submit"]:focus span, input[type="submit"]:active, input[type="submit"]:active span { color: rgb(255, 255, 255); }
.button, .button.accent1, .button.accent2, .button.accent3, .button.accent4, .button.accent5, .button.accent6, .button.accent7, .button.accent8, .vamtam-button, .vamtam-button.accent1, .vamtam-button.accent2, .vamtam-button.accent3, .vamtam-button.accent4, .vamtam-button.accent5, .vamtam-button.accent6, .vamtam-button.accent7, .vamtam-button.accent8 { font-size: 1em; font-weight: normal; display: inline-block; text-align: center; cursor: pointer; position: relative; z-index: 0; vertical-align: middle; -moz-user-select: none; text-decoration: none; text-shadow: none; line-height: 1.15em; padding: 0px; }
.button, .button span, .button.accent1, .button.accent1 span, .button.accent2, .button.accent2 span, .button.accent3, .button.accent3 span, .button.accent4, .button.accent4 span, .button.accent5, .button.accent5 span, .button.accent6, .button.accent6 span, .button.accent7, .button.accent7 span, .button.accent8, .button.accent8 span, .vamtam-button, .vamtam-button span, .vamtam-button.accent1, .vamtam-button.accent1 span, .vamtam-button.accent2, .vamtam-button.accent2 span, .vamtam-button.accent3, .vamtam-button.accent3 span, .vamtam-button.accent4, .vamtam-button.accent4 span, .vamtam-button.accent5, .vamtam-button.accent5 span, .vamtam-button.accent6, .vamtam-button.accent6 span, .vamtam-button.accent7, .vamtam-button.accent7 span, .vamtam-button.accent8, .vamtam-button.accent8 span { transition: color 0.3s ease 0s, border 0.3s ease 0s, background 0.3s ease 0s; }
.button span, .button.accent1 span, .button.accent2 span, .button.accent3 span, .button.accent4 span, .button.accent5 span, .button.accent6 span, .button.accent7 span, .button.accent8 span, .vamtam-button span, .vamtam-button.accent1 span, .vamtam-button.accent2 span, .vamtam-button.accent3 span, .vamtam-button.accent4 span, .vamtam-button.accent5 span, .vamtam-button.accent6 span, .vamtam-button.accent7 span, .vamtam-button.accent8 span { display: inline-block; font-size: 1em; line-height: inherit; padding: 0.3em 0.4em; margin: 0px; vertical-align: baseline; }
.button span.icon, .button.accent1 span.icon, .button.accent2 span.icon, .button.accent3 span.icon, .button.accent4 span.icon, .button.accent5 span.icon, .button.accent6 span.icon, .button.accent7 span.icon, .button.accent8 span.icon, .vamtam-button span.icon, .vamtam-button.accent1 span.icon, .vamtam-button.accent2 span.icon, .vamtam-button.accent3 span.icon, .vamtam-button.accent4 span.icon, .vamtam-button.accent5 span.icon, .vamtam-button.accent6 span.icon, .vamtam-button.accent7 span.icon, .vamtam-button.accent8 span.icon { font-size: 100%; vertical-align: bottom ! important; }
.button span.icon:first-child, .button span.icon:last-child, .button.accent1 span.icon:first-child, .button.accent1 span.icon:last-child, .button.accent2 span.icon:first-child, .button.accent2 span.icon:last-child, .button.accent3 span.icon:first-child, .button.accent3 span.icon:last-child, .button.accent4 span.icon:first-child, .button.accent4 span.icon:last-child, .button.accent5 span.icon:first-child, .button.accent5 span.icon:last-child, .button.accent6 span.icon:first-child, .button.accent6 span.icon:last-child, .button.accent7 span.icon:first-child, .button.accent7 span.icon:last-child, .button.accent8 span.icon:first-child, .button.accent8 span.icon:last-child, .vamtam-button span.icon:first-child, .vamtam-button span.icon:last-child, .vamtam-button.accent1 span.icon:first-child, .vamtam-button.accent1 span.icon:last-child, .vamtam-button.accent2 span.icon:first-child, .vamtam-button.accent2 span.icon:last-child, .vamtam-button.accent3 span.icon:first-child, .vamtam-button.accent3 span.icon:last-child, .vamtam-button.accent4 span.icon:first-child, .vamtam-button.accent4 span.icon:last-child, .vamtam-button.accent5 span.icon:first-child, .vamtam-button.accent5 span.icon:last-child, .vamtam-button.accent6 span.icon:first-child, .vamtam-button.accent6 span.icon:last-child, .vamtam-button.accent7 span.icon:first-child, .vamtam-button.accent7 span.icon:last-child, .vamtam-button.accent8 span.icon:first-child, .vamtam-button.accent8 span.icon:last-child { vertical-align: top; background: transparent none repeat scroll 0% 0%; }
.button span.icon:first-child, .button.accent1 span.icon:first-child, .button.accent2 span.icon:first-child, .button.accent3 span.icon:first-child, .button.accent4 span.icon:first-child, .button.accent5 span.icon:first-child, .button.accent6 span.icon:first-child, .button.accent7 span.icon:first-child, .button.accent8 span.icon:first-child, .vamtam-button span.icon:first-child, .vamtam-button.accent1 span.icon:first-child, .vamtam-button.accent2 span.icon:first-child, .vamtam-button.accent3 span.icon:first-child, .vamtam-button.accent4 span.icon:first-child, .vamtam-button.accent5 span.icon:first-child, .vamtam-button.accent6 span.icon:first-child, .vamtam-button.accent7 span.icon:first-child, .vamtam-button.accent8 span.icon:first-child { padding: 0.5em 0px 0.5em 0.8em ! important; }
.button span.icon:last-child, .button.accent1 span.icon:last-child, .button.accent2 span.icon:last-child, .button.accent3 span.icon:last-child, .button.accent4 span.icon:last-child, .button.accent5 span.icon:last-child, .button.accent6 span.icon:last-child, .button.accent7 span.icon:last-child, .button.accent8 span.icon:last-child, .vamtam-button span.icon:last-child, .vamtam-button.accent1 span.icon:last-child, .vamtam-button.accent2 span.icon:last-child, .vamtam-button.accent3 span.icon:last-child, .vamtam-button.accent4 span.icon:last-child, .vamtam-button.accent5 span.icon:last-child, .vamtam-button.accent6 span.icon:last-child, .vamtam-button.accent7 span.icon:last-child, .vamtam-button.accent8 span.icon:last-child { padding: 0.5em 0.8em 0.5em 0px ! important; }
.button span.btext, .button.accent1 span.btext, .button.accent2 span.btext, .button.accent3 span.btext, .button.accent4 span.btext, .button.accent5 span.btext, .button.accent6 span.btext, .button.accent7 span.btext, .button.accent8 span.btext, .vamtam-button span.btext, .vamtam-button.accent1 span.btext, .vamtam-button.accent2 span.btext, .vamtam-button.accent3 span.btext, .vamtam-button.accent4 span.btext, .vamtam-button.accent5 span.btext, .vamtam-button.accent6 span.btext, .vamtam-button.accent7 span.btext, .vamtam-button.accent8 span.btext { position: relative; font-weight: 500; vertical-align: middle; padding: 0.7em 1.2em; letter-spacing: 1px; }
.button:hover, .button:hover span, .button.accent1:hover, .button.accent1:hover span, .button.accent2:hover, .button.accent2:hover span, .button.accent3:hover, .button.accent3:hover span, .button.accent4:hover, .button.accent4:hover span, .button.accent5:hover, .button.accent5:hover span, .button.accent6:hover, .button.accent6:hover span, .button.accent7:hover, .button.accent7:hover span, .button.accent8:hover, .button.accent8:hover span, .vamtam-button:hover, .vamtam-button:hover span, .vamtam-button.accent1:hover, .vamtam-button.accent1:hover span, .vamtam-button.accent2:hover, .vamtam-button.accent2:hover span, .vamtam-button.accent3:hover, .vamtam-button.accent3:hover span, .vamtam-button.accent4:hover, .vamtam-button.accent4:hover span, .vamtam-button.accent5:hover, .vamtam-button.accent5:hover span, .vamtam-button.accent6:hover, .vamtam-button.accent6:hover span, .vamtam-button.accent7:hover, .vamtam-button.accent7:hover span, .vamtam-button.accent8:hover, .vamtam-button.accent8:hover span { text-decoration: none; }
.button.button-border, .button.button-style-3, .button.accent1.button-border, .button.accent1.button-style-3, .button.accent2.button-border, .button.accent2.button-style-3, .button.accent3.button-border, .button.accent3.button-style-3, .button.accent4.button-border, .button.accent4.button-style-3, .button.accent5.button-border, .button.accent5.button-style-3, .button.accent6.button-border, .button.accent6.button-style-3, .button.accent7.button-border, .button.accent7.button-style-3, .button.accent8.button-border, .button.accent8.button-style-3, .vamtam-button.button-border, .vamtam-button.button-style-3, .vamtam-button.accent1.button-border, .vamtam-button.accent1.button-style-3, .vamtam-button.accent2.button-border, .vamtam-button.accent2.button-style-3, .vamtam-button.accent3.button-border, .vamtam-button.accent3.button-style-3, .vamtam-button.accent4.button-border, .vamtam-button.accent4.button-style-3, .vamtam-button.accent5.button-border, .vamtam-button.accent5.button-style-3, .vamtam-button.accent6.button-border, .vamtam-button.accent6.button-style-3, .vamtam-button.accent7.button-border, .vamtam-button.accent7.button-style-3, .vamtam-button.accent8.button-border, .vamtam-button.accent8.button-style-3 { background: transparent none repeat scroll 0% 0%; box-shadow: none; font-style: normal; overflow: hidden; }
.button.button-border:hover span.btext, .button.accent1.button-border:hover span.btext, .button.accent2.button-border:hover span.btext, .button.accent3.button-border:hover span.btext, .button.accent4.button-border:hover span.btext, .button.accent5.button-border:hover span.btext, .button.accent6.button-border:hover span.btext, .button.accent7.button-border:hover span.btext, .button.accent8.button-border:hover span.btext, .vamtam-button.button-border:hover span.btext, .vamtam-button.accent1.button-border:hover span.btext, .vamtam-button.accent2.button-border:hover span.btext, .vamtam-button.accent3.button-border:hover span.btext, .vamtam-button.accent4.button-border:hover span.btext, .vamtam-button.accent5.button-border:hover span.btext, .vamtam-button.accent6.button-border:hover span.btext, .vamtam-button.accent7.button-border:hover span.btext, .vamtam-button.accent8.button-border:hover span.btext { position: relative; display: inline-block; transition: transform 0.3s ease 0s; transform: translateY(-100%); }
.button.button-border:hover span.btext::before, .button.accent1.button-border:hover span.btext::before, .button.accent2.button-border:hover span.btext::before, .button.accent3.button-border:hover span.btext::before, .button.accent4.button-border:hover span.btext::before, .button.accent5.button-border:hover span.btext::before, .button.accent6.button-border:hover span.btext::before, .button.accent7.button-border:hover span.btext::before, .button.accent8.button-border:hover span.btext::before, .vamtam-button.button-border:hover span.btext::before, .vamtam-button.accent1.button-border:hover span.btext::before, .vamtam-button.accent2.button-border:hover span.btext::before, .vamtam-button.accent3.button-border:hover span.btext::before, .vamtam-button.accent4.button-border:hover span.btext::before, .vamtam-button.accent5.button-border:hover span.btext::before, .vamtam-button.accent6.button-border:hover span.btext::before, .vamtam-button.accent7.button-border:hover span.btext::before, .vamtam-button.accent8.button-border:hover span.btext::before { position: absolute; content: attr(data-text); font-weight: 700; transform: translate3d(0px, 0px, 0px); top: 100%; left: 0px; height: 100%; width: 100%; padding-top: 0.8em; line-height: 1.2em; }
.button.button-border span.btext, .button.accent1.button-border span.btext, .button.accent2.button-border span.btext, .button.accent3.button-border span.btext, .button.accent4.button-border span.btext, .button.accent5.button-border span.btext, .button.accent6.button-border span.btext, .button.accent7.button-border span.btext, .button.accent8.button-border span.btext, .vamtam-button.button-border span.btext, .vamtam-button.accent1.button-border span.btext, .vamtam-button.accent2.button-border span.btext, .vamtam-button.accent3.button-border span.btext, .vamtam-button.accent4.button-border span.btext, .vamtam-button.accent5.button-border span.btext, .vamtam-button.accent6.button-border span.btext, .vamtam-button.accent7.button-border span.btext, .vamtam-button.accent8.button-border span.btext { padding: 0.8em 2em ! important; font-weight: 600 ! important; line-height: 1.2em; }
.button.accent1, .vamtam-button.accent1 { background: rgb(240, 84, 45) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.button.accent1 span, .vamtam-button.accent1 span { color: rgb(255, 255, 255); }
.button.accent1.button-border, .vamtam-button.accent1.button-border { border: 2px solid rgb(240, 84, 45); }
.button.accent1.button-border:hover span, .button.accent1.button-border span, .vamtam-button.accent1.button-border:hover span, .vamtam-button.accent1.button-border span { color: rgb(240, 84, 45) ! important; }
.button, .button.accent2, .vamtam-button, .vamtam-button.accent2 { background: rgb(54, 67, 82) none repeat scroll 0% 0%; color: rgb(245, 246, 248); }
.button span, .button.accent2 span, .vamtam-button span, .vamtam-button.accent2 span { color: rgb(245, 246, 248); }
.button.button-border, .button.accent2.button-border, .vamtam-button.button-border, .vamtam-button.accent2.button-border { border: 2px solid rgb(54, 67, 82); }
.button.button-border:hover span, .button.button-border span, .button.accent2.button-border:hover span, .button.accent2.button-border span, .vamtam-button.button-border:hover span, .vamtam-button.button-border span, .vamtam-button.accent2.button-border:hover span, .vamtam-button.accent2.button-border span { color: rgb(54, 67, 82) ! important; }
.button.accent5, .vamtam-button.accent5 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(77, 77, 77); }
.button.accent5 span, .vamtam-button.accent5 span { color: rgb(77, 77, 77); }
.button.accent5.button-border, .vamtam-button.accent5.button-border { border: 2px solid rgb(255, 255, 255); }
.button.accent5.button-border:hover span, .button.accent5.button-border span, .vamtam-button.accent5.button-border:hover span, .vamtam-button.accent5.button-border span { color: rgb(255, 255, 255) ! important; }
.button:hover, .button:focus, .button:active, .button.hover-accent1:hover, .button.hover-accent1:focus, .button.hover-accent1:active, .vamtam-button:hover, .vamtam-button:focus, .vamtam-button:active, .vamtam-button.hover-accent1:hover, .vamtam-button.hover-accent1:focus, .vamtam-button.hover-accent1:active { background: rgb(240, 84, 45) none repeat scroll 0% 0%; }
.button:hover, .button:hover span, .button:focus, .button:focus span, .button:active, .button:active span, .button.hover-accent1:hover, .button.hover-accent1:hover span, .button.hover-accent1:focus, .button.hover-accent1:focus span, .button.hover-accent1:active, .button.hover-accent1:active span, .vamtam-button:hover, .vamtam-button:hover span, .vamtam-button:focus, .vamtam-button:focus span, .vamtam-button:active, .vamtam-button:active span, .vamtam-button.hover-accent1:hover, .vamtam-button.hover-accent1:hover span, .vamtam-button.hover-accent1:focus, .vamtam-button.hover-accent1:focus span, .vamtam-button.hover-accent1:active, .vamtam-button.hover-accent1:active span { color: rgb(255, 255, 255); }
.button.button-border::after, .button.button-style-3::after, .button.hover-accent1.button-border::after, .button.hover-accent1.button-style-3::after, .vamtam-button.button-border::after, .vamtam-button.button-style-3::after, .vamtam-button.hover-accent1.button-border::after, .vamtam-button.hover-accent1.button-style-3::after { content: ""; position: absolute; z-index: -1; width: 100%; height: 0px; bottom: 0px; left: 0px; background: rgb(240, 84, 45) none repeat scroll 0% 0%; transition: all 0.3s ease 0s; }
.button.button-border:hover::after, .button.button-style-3:hover::after, .button.hover-accent1.button-border:hover::after, .button.hover-accent1.button-style-3:hover::after, .vamtam-button.button-border:hover::after, .vamtam-button.button-style-3:hover::after, .vamtam-button.hover-accent1.button-border:hover::after, .vamtam-button.hover-accent1.button-style-3:hover::after { height: 100%; }
.button.button-border:hover, .button.button-border:hover span, .button.button-style-3:hover, .button.button-style-3:hover span, .button.hover-accent1.button-border:hover, .button.hover-accent1.button-border:hover span, .button.hover-accent1.button-style-3:hover, .button.hover-accent1.button-style-3:hover span, .vamtam-button.button-border:hover, .vamtam-button.button-border:hover span, .vamtam-button.button-style-3:hover, .vamtam-button.button-style-3:hover span, .vamtam-button.hover-accent1.button-border:hover, .vamtam-button.hover-accent1.button-border:hover span, .vamtam-button.hover-accent1.button-style-3:hover, .vamtam-button.hover-accent1.button-style-3:hover span { border-color: rgb(240, 84, 45); }
.button.button-border:hover, .button.button-border:focus, .button.hover-accent1.button-border:hover, .button.hover-accent1.button-border:focus, .vamtam-button.button-border:hover, .vamtam-button.button-border:focus, .vamtam-button.hover-accent1.button-border:hover, .vamtam-button.hover-accent1.button-border:focus { background: transparent none repeat scroll 0% 0%; }
.button.button-border:hover span, .button.button-border:focus span, .button.hover-accent1.button-border:hover span, .button.hover-accent1.button-border:focus span, .vamtam-button.button-border:hover span, .vamtam-button.button-border:focus span, .vamtam-button.hover-accent1.button-border:hover span, .vamtam-button.hover-accent1.button-border:focus span { color: rgb(240, 84, 45); }
.button.button-border:hover span.btext::before, .button.button-border:focus span.btext::before, .button.hover-accent1.button-border:hover span.btext::before, .button.hover-accent1.button-border:focus span.btext::before, .vamtam-button.button-border:hover span.btext::before, .vamtam-button.button-border:focus span.btext::before, .vamtam-button.hover-accent1.button-border:hover span.btext::before, .vamtam-button.hover-accent1.button-border:focus span.btext::before { color: rgb(255, 255, 255); background: rgb(240, 84, 45) none repeat scroll 0% 0%; }
.button.button-border:hover span.icon, .button.button-border:focus span.icon, .button.hover-accent1.button-border:hover span.icon, .button.hover-accent1.button-border:focus span.icon, .vamtam-button.button-border:hover span.icon, .vamtam-button.button-border:focus span.icon, .vamtam-button.hover-accent1.button-border:hover span.icon, .vamtam-button.hover-accent1.button-border:focus span.icon { color: rgb(255, 255, 255) ! important; }
.button.hover-accent2:hover, .button.hover-accent2:focus, .button.hover-accent2:active, .vamtam-button.hover-accent2:hover, .vamtam-button.hover-accent2:focus, .vamtam-button.hover-accent2:active { background: rgb(54, 67, 82) none repeat scroll 0% 0%; }
.button.hover-accent2:hover, .button.hover-accent2:hover span, .button.hover-accent2:focus, .button.hover-accent2:focus span, .button.hover-accent2:active, .button.hover-accent2:active span, .vamtam-button.hover-accent2:hover, .vamtam-button.hover-accent2:hover span, .vamtam-button.hover-accent2:focus, .vamtam-button.hover-accent2:focus span, .vamtam-button.hover-accent2:active, .vamtam-button.hover-accent2:active span { color: rgb(183, 195, 208); }
.button.hover-accent2.button-border::after, .button.hover-accent2.button-style-3::after, .vamtam-button.hover-accent2.button-border::after, .vamtam-button.hover-accent2.button-style-3::after { content: ""; position: absolute; z-index: -1; width: 100%; height: 0px; bottom: 0px; left: 0px; background: rgb(54, 67, 82) none repeat scroll 0% 0%; transition: all 0.3s ease 0s; }
.button.hover-accent2.button-border:hover::after, .button.hover-accent2.button-style-3:hover::after, .vamtam-button.hover-accent2.button-border:hover::after, .vamtam-button.hover-accent2.button-style-3:hover::after { height: 100%; }
.button.hover-accent2.button-border:hover, .button.hover-accent2.button-border:hover span, .button.hover-accent2.button-style-3:hover, .button.hover-accent2.button-style-3:hover span, .vamtam-button.hover-accent2.button-border:hover, .vamtam-button.hover-accent2.button-border:hover span, .vamtam-button.hover-accent2.button-style-3:hover, .vamtam-button.hover-accent2.button-style-3:hover span { border-color: rgb(54, 67, 82); }
.button.hover-accent2.button-border:hover, .button.hover-accent2.button-border:focus, .vamtam-button.hover-accent2.button-border:hover, .vamtam-button.hover-accent2.button-border:focus { background: transparent none repeat scroll 0% 0%; }
.button.hover-accent2.button-border:hover span, .button.hover-accent2.button-border:focus span, .vamtam-button.hover-accent2.button-border:hover span, .vamtam-button.hover-accent2.button-border:focus span { color: rgb(54, 67, 82); }
.button.hover-accent2.button-border:hover span.btext::before, .button.hover-accent2.button-border:focus span.btext::before, .vamtam-button.hover-accent2.button-border:hover span.btext::before, .vamtam-button.hover-accent2.button-border:focus span.btext::before { color: rgb(255, 255, 255); background: rgb(54, 67, 82) none repeat scroll 0% 0%; }
.button, a.button, .vamtam-button { font-size: 1em; font-weight: normal; display: inline-block; text-align: center; cursor: pointer; position: relative; z-index: 0; vertical-align: middle; -moz-user-select: none; text-decoration: none; text-shadow: none; line-height: 1.15em; padding: 0px; }
.button, .button span, a.button, a.button span, .vamtam-button, .vamtam-button span { transition: color 0.3s ease 0s, border 0.3s ease 0s, background 0.3s ease 0s; }
.button span, a.button span, .vamtam-button span { display: inline-block; font-size: 1em; line-height: inherit; padding: 0.3em 0.4em; margin: 0px; vertical-align: baseline; }
.button span.icon, a.button span.icon, .vamtam-button span.icon { font-size: 100%; vertical-align: bottom ! important; }
.button span.icon:first-child, .button span.icon:last-child, a.button span.icon:first-child, a.button span.icon:last-child, .vamtam-button span.icon:first-child, .vamtam-button span.icon:last-child { vertical-align: top; background: transparent none repeat scroll 0% 0%; }
.button span.icon:first-child, a.button span.icon:first-child, .vamtam-button span.icon:first-child { padding: 0.5em 0px 0.5em 0.8em ! important; }
.button span.icon:last-child, a.button span.icon:last-child, .vamtam-button span.icon:last-child { padding: 0.5em 0.8em 0.5em 0px ! important; }
.button span.btext, a.button span.btext, .vamtam-button span.btext { position: relative; font-weight: 500; vertical-align: middle; padding: 0.7em 1.2em; letter-spacing: 1px; }
.button:hover, .button:hover span, a.button:hover, a.button:hover span, .vamtam-button:hover, .vamtam-button:hover span { text-decoration: none; }
.fixed-header-box { position: relative; z-index: 10; margin: 0px auto; max-width: 1260px; transition: box-shadow 0.3s ease 0s, background-color 0.3s ease 0s; box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.04); }
body.full .fixed-header-box { max-width: none; }
.fixed-header-box .logo-wrapper { display: table-cell; vertical-align: middle; text-align: center; }
.fixed-header-box .logo-wrapper .logo { text-decoration: none ! important; line-height: 1; display: block; position: relative; }
.fixed-header-box .logo-wrapper .logo img { clear: both; padding: 0px; border: 0px none ! important; vertical-align: bottom; }
.header-content-wrapper { background-repeat: no-repeat; background-position: center top; background-attachment: scroll; background-color: rgb(255, 255, 255); background-size: auto auto; margin-top: 0px; transition: background 0.3s ease 0s; }
header.main-header { transition: background 0.3s ease 0s; padding: 0px; box-sizing: border-box; }
body.sticky-header-type-over.sticky-header.wpv-scrolled header.main-header, body.sticky-header-type-half-over.sticky-header.wpv-scrolled header.main-header, body:not(.sticky-header-type-half-over):not(.sticky-header) header.main-header, body.sticky-header-type-half-over header.main-header .first-row { background-repeat: no-repeat; background-position: center top; background-attachment: scroll; background-color: rgb(255, 255, 255); background-size: auto auto; }
body.sticky-header-type-over.sticky-header.wpv-scrolled header.main-header.layout-standard .second-row, body.sticky-header-type-over.sticky-header.wpv-scrolled header.main-header.layout-logo-text-menu .second-row, body.sticky-header-type-half-over.sticky-header.wpv-scrolled header.main-header.layout-standard .second-row, body.sticky-header-type-half-over.sticky-header.wpv-scrolled header.main-header.layout-logo-text-menu .second-row, body:not(.sticky-header-type-half-over):not(.sticky-header) header.main-header.layout-standard .second-row, body:not(.sticky-header-type-half-over):not(.sticky-header) header.main-header.layout-logo-text-menu .second-row, body.sticky-header-type-half-over header.main-header .first-row.layout-standard .second-row, body.sticky-header-type-half-over header.main-header .first-row.layout-logo-text-menu .second-row { background-repeat: repeat-x; background-position: center top; background-attachment: scroll; background-color: rgb(255, 255, 255); background-size: auto auto; }
header.main-header .first-row { display: table; width: 100%; height: 131px; }
header.main-header .first-row .alternative-logo { position: absolute; top: 0px; left: 0px; opacity: 0; }
header.main-header .second-row { clear: both; min-height: 49px; width: 100%; border-top: 1px solid rgba(43, 47, 52, 0.1); }
header.main-header .second-row .second-row-columns { box-sizing: border-box; position: relative; display: table; width: 100%; }
header.main-header .header-center { display: table-cell; width: 100%; text-align: center; filter: none; padding: 0px; vertical-align: bottom; }
header.main-header .header-center::after { display: block; clear: both; content: ""; }
header.main-header #header-text { padding: 10px 0px; white-space: nowrap; transition: color 0.3s ease 0s; font-size: 11px; }
header.main-header button.header-search { border: 0px none; background: transparent none repeat scroll 0% 0%; color: rgb(216, 216, 216); font-size: 20px; }
header.main-header button.header-search:active { transform: translate(0px, 3px); }
header.main-header button.header-search:hover { color: rgb(240, 84, 45); }
header.main-header .search-wrapper:not(:last-child) { padding-right: 10px; }
header.main-header.layout-logo-text-menu .first-row > .first-row-wrapper { height: 131px; }
header.main-header.layout-logo-text-menu .first-row .first-row-right-inner { display: table; width: 100%; }
header.main-header.layout-logo-text-menu .first-row #header-text, header.main-header.layout-logo-text-menu .first-row .first-row-left, header.main-header.layout-logo-text-menu .first-row .first-row-right { display: table-cell; vertical-align: middle; }
header.main-header.layout-logo-text-menu .first-row .first-row-left, header.main-header.layout-logo-text-menu .first-row .first-row-right { height: 131px; }
header.main-header.layout-logo-text-menu .first-row .first-row-right { width: 100%; text-align: right; }
header.main-header.layout-logo-text-menu .first-row #header-text { padding: 0px; width: 100%; }
header.main-header.layout-logo-text-menu .first-row #header-text > div { padding: 10px 0px 10px 40px; text-align: right; max-width: 50%; margin-left: auto; }
header.main-header.layout-logo-text-menu .second-row #main-menu .menu { text-align: left; }
header.main-header.layout-logo-text-menu .second-row .header-center { padding-right: 0px; padding-left: 0px; }
header.main-header.layout-logo-text-menu .second-row .search-wrapper { display: table-cell; vertical-align: middle; padding-left: 10px; }
#wpv-overlay-search { margin: auto; max-width: 550px; font-size: 50px; }
#wpv-overlay-search input[type="text"] { width: 475px; height: 60px; max-width: calc(100% - 100px); border-width: 0px 0px 1px; border-style: none none solid; border-color: currentcolor currentcolor rgb(255, 255, 255); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
#wpv-overlay-search input[type="text"]::-moz-placeholder { color: rgb(255, 255, 255); }
#wpv-overlay-search button[type="submit"] { width: 60px; height: 60px; border: 0px none; background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); vertical-align: bottom; padding: 0px; }
body > #wpv-overlay-search { display: none; }
.meta-header { background-repeat: no-repeat; background-position: center top; background-attachment: scroll; background-color: rgb(255, 255, 255); background-size: auto auto; padding-bottom: 0.035px; }
.meta-header > .limit-wrapper { box-sizing: border-box; }
.page-header .page-header-content { width: 100%; text-align: left; position: relative; }
.page-header h1 { padding: 0px ! important; width: 100%; margin: 0px; text-align: center; position: relative; color: rgb(77, 77, 77); }
.page-header .title { padding: 90px 0px 40px; display: inline-block; }
#menus { position: relative; z-index: 210; min-height: 31px; }
#main-menu .menu { position: relative; min-height: 31px; font-size: 0px; }
#main-menu .menu .menu-item { position: relative; list-style: outside none none; cursor: pointer; }
#main-menu .menu .menu-item:hover > .sub-menu-wrapper > .sub-menu { display: block; box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12); border-radius: 0px; }
#main-menu .menu .menu-item a { display: block; text-decoration: none; padding: 0.3em 0.6em; transition: color 0.4s ease 0s; }
#main-menu .menu .sub-menu { position: absolute; top: 0px; z-index: 200; display: none; margin: 0px auto auto 0px; width: 190px; text-align: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px; box-sizing: border-box; }
#main-menu .menu .sub-menu .menu-item { padding: 0px; transition: all 0.4s ease 0s; }
#main-menu .menu .sub-menu .menu-item > a { padding: 13px; color: rgb(0, 0, 0); text-transform: none; transition: all 0.3s ease 0s; border: medium none; }
#main-menu .menu .sub-menu .menu-item:last-child { padding-bottom: 0px; }
#main-menu .menu .sub-menu .menu-item.current-menu-parent, #main-menu .menu .sub-menu .menu-item.current-menu-item, #main-menu .menu .sub-menu .menu-item.current-menu-ancestor, #main-menu .menu .sub-menu .menu-item.current-menu-ancestor, #main-menu .menu .sub-menu .menu-item:hover { background: rgb(246, 246, 246) none repeat scroll 0% 0%; border-radius: 0px; }
#main-menu .menu .sub-menu .menu-item.current-menu-parent > a, #main-menu .menu .sub-menu .menu-item.current-menu-item > a, #main-menu .menu .sub-menu .menu-item.current-menu-ancestor > a, #main-menu .menu .sub-menu .menu-item.current-menu-ancestor > a, #main-menu .menu .sub-menu .menu-item:hover > a { text-decoration: none; color: rgb(240, 84, 45); border-left-color: rgb(240, 84, 45); border-bottom-color: rgb(237, 237, 237); padding: 13px; }
#main-menu .menu > .menu-item { padding: 3px 15px 0px; background: transparent url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") repeat scroll 0% 0%; display: inline-block; }
#main-menu .menu > .menu-item > a, #main-menu .menu > .menu-item > a:visited { color: rgb(0, 0, 0); font: 600 13px/16px "Raleway"; border-bottom: 3px solid transparent; padding: 1em 0px; letter-spacing: 0.05em; transition-duration: 0.3s; transition-property: color, border-bottom-color; }
#main-menu .menu > .menu-item.current-menu-parent > a, #main-menu .menu > .menu-item.current-menu-item > a, #main-menu .menu > .menu-item.current-menu-ancestor > a, #main-menu .menu > .menu-item.current-menu-ancestor > a, #main-menu .menu > .menu-item:hover > a { background-color: transparent; color: rgb(240, 84, 45); text-decoration: none; border-bottom: 3px solid rgb(240, 84, 45); padding-bottom: 1em; }
#main-menu .menu > .menu-item:hover > .sub-menu-wrapper { padding-top: 14px; position: absolute; top: 100%; left: 10%; width: 100%; z-index: 10000; }
#main-menu .menu > .menu-item:hover > .sub-menu-wrapper > .sub-menu { top: 0px; }
#main-menu .menu > .menu-item > .sub-menu-wrapper > .sub-menu { left: 0px; margin: 0px auto auto 0px; transition: all 0.3s ease 0s; }
#top-nav-wrapper { position: relative; z-index: 6666; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: medium none; }
.top-nav { background-repeat: no-repeat; background-position: center top; background-attachment: scroll; background-color: rgb(124, 138, 141); background-size: auto auto; box-sizing: border-box; margin: 0px auto; white-space: nowrap; }
.top-nav, .top-nav p { color: rgb(204, 208, 208); }
.top-nav, .top-nav p, .top-nav div, .top-nav li, .top-nav a { font-size: 12px; }
.top-nav > .top-nav-inner > .row { padding: 7px 0px; }
.top-nav > .top-nav-inner > .row > .row > div { vertical-align: top; }
.top-nav .grid-1-2 { min-height: 1px; }
.top-nav .grid-1-2:last-child { text-align: right; }
.top-nav a { color: rgb(212, 215, 215); }
.top-nav a:hover { color: rgb(255, 255, 255); }
.top-nav a:hover .icon { color: rgb(255, 255, 255) ! important; }
#top-nav-social > a { display: inline-block; width: 1.65em; height: 1.65em; text-align: center; vertical-align: middle; border: medium none; border-radius: 0px; font-size: 15px; margin: 0px; }
#top-nav-social > a, #top-nav-social > a .icon { line-height: 1.65em; }
#top-nav-social > a:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#top-nav-social > a:hover .icon.shortcode.use-hover { color: rgb(240, 84, 45) ! important; }
header.main-header .sub-menu { display: none; }
.mp-menu, #mp-menu-trigger { display: none; }
*::selection { color: rgb(255, 255, 255); background: rgb(240, 84, 45) none repeat scroll 0% 0%; }
html { background-repeat: repeat; background-position: center top; background-attachment: fixed; background-color: rgb(237, 237, 237); background-size: auto auto; }
.wpv-main { background-repeat: no-repeat; background-position: center top; background-attachment: fixed; background-color: rgb(255, 255, 255); background-size: auto auto; }
body:not(.page-vertical-padding-none):not(.page-vertical-padding-bottom-only) #sub-header.has-background + .wpv-main { padding-top: 40px; }
.limit-wrapper { z-index: 555; display: block; float: none; margin: auto; min-width: 290px; min-height: 100%; max-width: 1260px; width: auto; }
.limit-wrapper > div { position: relative; }
#page { position: relative; margin-right: auto; margin-left: auto; min-width: 1260px; max-width: 1260px; width: auto; height: 100%; }
#page .full { max-width: 100%; }
body.responsive-layout #page { min-width: 290px; }
body.full #page { max-width: none; border: medium none; box-shadow: none; }
#page .boxed-layout { position: relative; z-index: 0; margin: auto; max-width: 1260px; width: 100%; }
#page .boxed-layout #main-content { position: relative; }
body.full #page { overflow: hidden; max-width: 100%; }
body.full #page .boxed-layout { max-width: 100%; }
.page-wrapper { position: relative; }
.page-wrapper > div, .page-wrapper > article { box-sizing: border-box; margin-top: -1px; padding: 1px 0px 45px; }
.boxed-layout img { box-sizing: border-box; display: block; max-width: 100%; height: auto; }
.boxed-layout iframe, .boxed-layout object, .boxed-layout embed { display: block; max-width: 100%; }
ul, ol { margin: 0.4em 0px 0.4em 1.3em; }
ul li, ol li { padding-bottom: 4px; padding-top: 4px; }
input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="email"], input[type="search"], input[type="date"], input[type="range"], input[type="number"], input[type="button"], textarea, select { box-sizing: border-box; padding: 17px; width: 100%; position: relative; outline: medium none; border: 1px solid rgba(43, 47, 52, 0.1); margin: 0px 0px 15px; box-shadow: none ! important; font-size: 18px; border-radius: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(43, 47, 52); }
input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="date"]:focus, input[type="range"]:focus, input[type="number"]:focus, input[type="button"]:focus, textarea:focus, select:focus { border: 1px solid rgb(240, 84, 45) ! important; }
input[type="text"]:-moz-ui-invalid, input[type="tel"]:-moz-ui-invalid, input[type="email"]:-moz-ui-invalid, input[type="password"]:-moz-ui-invalid, input[type="email"]:-moz-ui-invalid, input[type="search"]:-moz-ui-invalid, input[type="date"]:-moz-ui-invalid, input[type="range"]:-moz-ui-invalid, input[type="number"]:-moz-ui-invalid, input[type="button"]:-moz-ui-invalid, textarea:-moz-ui-invalid, select:-moz-ui-invalid { border-color: rgb(217, 71, 41); }
html.csstransitions .wpv-grid.animated-active { opacity: 0; }
html.csstransitions .wpv-grid.animated-active.animation-zoom-in { opacity: 0.2; transform: scale(0.5); }
html.csstransitions .wpv-grid.animated-active.animation-ended { opacity: 1; }
html.csstransitions .wpv-grid.animated-active.animation-ended.animation-from-bottom { animation: 0.7s ease-out 0s normal none 1 running element-from-bottom; }
html.csstransitions .wpv-grid.animated-active.animation-ended.animation-fade-in { transition: opacity 0.8s ease-out 0s; }
html.csstransitions .wpv-grid.animated-active.animation-ended.animation-zoom-in { animation: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1 running element-zoom-in; transform: scale(1); }
@keyframes element-from-left {
0% { transform: translate(-20%, 0px); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-left {
0% { transform: translate(-20%, 0px); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-left {
0% { transform: translate(-20%, 0px); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-right {
0% { transform: translate(20%, 0px); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-right {
0% { transform: translate(20%, 0px); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-right {
0% { transform: translate(20%, 0px); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-bottom {
0% { transform: translate(0px, 30%); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-bottom {
0% { transform: translate(0px, 30%); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-bottom {
0% { transform: translate(0px, 30%); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-top {
0% { transform: translate(0px, -30%); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-top {
0% { transform: translate(0px, -30%); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-from-top {
0% { transform: translate(0px, -30%); opacity: 0; }
100% { transform: translate(0px, 0px); opacity: 1; }
}
@keyframes element-zoom-in {
0% { transform: scale(0.3); opacity: 0.1; }
100% { transform: scale(1); opacity: 1; }
}
@keyframes element-zoom-in {
0% { transform: scale(0.3); opacity: 0.1; }
100% { transform: scale(1); opacity: 1; }
}
@keyframes element-zoom-in {
0% { transform: scale(0.3); opacity: 0.1; }
100% { transform: scale(1); opacity: 1; }
}
.services.has-more { position: relative; padding: 0px; z-index: 2000; }
.services.has-more .title { margin: 20px 0px 0px -20px; color: rgb(255, 255, 255) ! important; }
.services.has-more .image-wrapper { padding: 20px; text-align: center; }
.services.has-more .services-content-wrapper > .row { margin: 0px; }
.services.has-more .open { width: 100%; position: absolute; top: 100%; padding: 0px 20px; box-sizing: border-box; }
.services.has-more .open .services-content-wrapper { padding: 10px 0px; }
.services.has-more .open p:first-child { margin-top: 0px; }
.services.has-more .open p:last-child { margin-bottom: 0px; }
.services.has-more .closed { padding: 20px; max-height: 100%; max-width: 100%; }
.services.has-more .closed .services-content-wrapper { padding-bottom: 20px; text-align: center; }
.services.has-more .closed .title { display: inline-block; position: relative; background: transparent none repeat scroll 0% 0%; font-weight: 600; margin: 0px; width: 90%; padding: 0px 5% 15px; }
.services.has-more.expandable-animation-3d .open { transform-origin: center top 0px; transform: rotateX(-90deg); transform-style: preserve-3d; backface-visibility: hidden; }
.services.has-more.expandable-animation-3d .closed { backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); }
.icon.shortcode { line-height: 1.15; }
.icon.shortcode.box, .icon.shortcode.border { padding: 0.6em; position: relative; min-height: 1em; min-width: 1em; transition: all 0.5s ease 0s; }
h1 .icon.shortcode, h2 .icon.shortcode, h3 .icon.shortcode, h4 .icon.shortcode, h5 .icon.shortcode, h6 .icon.shortcode { vertical-align: bottom; }
.linkarea { padding: 20px; cursor: pointer; border: 1px solid transparent; min-height: 50px; box-sizing: border-box; background-clip: border-box; transition: all 0.5s ease 0s; }
.linkarea.background-accent5 { background-color: rgb(255, 255, 255); }
.linkarea.background-accent5:not(:hover) a, .linkarea.background-accent5:not(:hover) p, .linkarea.background-accent5:not(:hover) h1, .linkarea.background-accent5:not(:hover) h2, .linkarea.background-accent5:not(:hover) h3, .linkarea.background-accent5:not(:hover) h4, .linkarea.background-accent5:not(:hover) h5, .linkarea.background-accent5:not(:hover) h6 { color: rgb(128, 128, 128); }
.linkarea.accent5.background-transparent { background-color: rgba(255, 255, 255, 0); border: 1px solid rgb(237, 237, 237); }
.linkarea.accent5:hover, .linkarea.accent5:focus { background-color: rgb(255, 255, 255); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); }
.linkarea.accent5:active { background-color: rgb(242, 242, 242); }
.linkarea.accent5:focus { border: 1px solid rgb(217, 217, 217); outline: medium none; }
.linkarea.accent7:hover, .linkarea.accent7:focus { background-color: rgb(237, 237, 237); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05); }
.linkarea.accent7:hover a, .linkarea.accent7:focus a { text-decoration: none; }
.linkarea.accent7:active { background-color: rgb(224, 224, 224); }
.linkarea.accent7:focus { border: 1px solid rgb(199, 199, 199); outline: medium none; }
.linkarea .first { text-align: center; padding-bottom: 10px; }
.linkarea .first img { display: inline-block; vertical-align: bottom; }
.linkarea .first:last-child { padding-bottom: 0px; }
.linkarea:hover h3 { text-decoration: none; color: rgb(240, 84, 45) ! important; transition: color 0.4s ease 0s; }
.services .services-inside { margin: 0px; padding: 0px; display: block; }
@media not all {
}
.widget { margin: 0px auto 30px; padding: 0px; }
.widget .widget-title { position: relative; overflow: hidden; margin: 0px 0px 10px; padding: 0px 5px 5px 0px; border-bottom: 1px solid rgb(237, 237, 237); }
.widget .widget-title, .widget .widget-title a { overflow-wrap: break-word; line-height: 1.7em ! important; }
.widget:last-child { margin-bottom: 0px; padding-bottom: 0px; border-bottom: 0px none; background: transparent none repeat scroll 0% 0%; }
#footer-sidebars .widget .widget-title { white-space: normal; }
footer.main-footer { position: relative; background: rgb(52, 55, 60) url("footer-bg.jpg") no-repeat scroll center bottom; }
footer.main-footer, footer.main-footer p, footer.main-footer a, footer.main-footer th, footer.main-footer td { font: 13px/20px "Raleway"; color: rgb(175, 175, 175); }
footer.main-footer p { line-height: 170%; }
footer.main-footer .widget .widget-title { border: medium none; text-align: left; padding: 0px; margin: 0px 0px 10px; font: 300 14px/16px "Raleway" ! important; color: rgb(255, 255, 255) ! important; }
footer.main-footer a { color: rgb(240, 84, 45); transition: all 0.3s ease 0s; }
footer.main-footer a:visited { color: rgb(240, 84, 45); }
footer.main-footer a h4 { color: rgb(255, 255, 255) ! important; }
footer.main-footer a:hover { color: rgb(255, 255, 255); text-decoration: none; }
footer.main-footer a:hover .icon.shortcode { color: rgb(255, 255, 255) ! important; }
#footer-sidebars { max-width: 1260px; margin: 0px auto; box-sizing: border-box; position: relative; }
#footer-sidebars .row:first-child { border-bottom: 1px solid rgba(237, 237, 237, 0.2); margin-bottom: 30px; }
#footer-sidebars > .row aside { border-right: 0px none; padding: 10px 0px 30px; float: left; box-sizing: border-box; }
#footer-sidebars > .row aside.cell-1-4 { width: 25%; }
#footer-sidebars > .row aside.last { border-right: 0px none; }
#footer-sidebars > .row .widget { padding-left: 30px; padding-right: 30px; }
#footer-sidebars > .row .widget, #footer-sidebars > .row .widget:last-child { margin-bottom: 0px; padding-bottom: 0px; }
#footer-sidebars > .row .widget .widget-title { text-align: left; padding-top: 0px; padding-bottom: 5px; letter-spacing: 2px; }
.copyrights { background-repeat: repeat; background-position: center top; background-attachment: scroll; background-color: rgb(255, 255, 255); background-size: auto auto; padding: 25px 30px; margin: 0px; position: relative; z-index: 5; }
.copyrights a { color: rgb(240, 84, 45); transition: all 0.3s ease 0s; }
.copyrights a:visited { color: rgb(240, 84, 45); }
.copyrights a:hover { color: rgb(43, 47, 52); text-decoration: none; }
.copyrights, .copyrights * { font: 300 12px/14px "Raleway"; color: rgb(137, 137, 137); }
.contact_info_wrap, .flickr_wrap, .portfolios, .price-outer-wrapper, .services, .slogan, .team-member, .toggle, .unapproved, .wpv-tabs { padding-top: 15px; padding-bottom: 15px; }
.wpv-grid > .linkarea, .wpv-grid > .services.has-more { margin-left: -15px; margin-right: -15px; }
.textcenter { text-align: center; }
.aligncenter { display: block; margin: 1em auto; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
img.aligncenter { margin: 0px auto; }
table { border-collapse: collapse; border-spacing: 0px; line-height: 2; width: 100%; }
caption, th, td { font-weight: normal; text-align: left; }
td { border: medium none; padding: 6px 10px 6px 0px; }
@media (min-width: 959px) {
  .add-border { border: 1px solid rgb(237, 237, 237); }
  header.main-header { overflow: visible; }
  header.main-header .mobile-top-bar, header.main-header .mobile-logo-additions { display: none; }
  .top-nav > .top-nav-inner > .row > .row:not(.single-cell) { display: table; }
  .top-nav > .top-nav-inner > .row > .row:not(.single-cell) > .grid-1-2 { display: table-cell; float: none; width: 100%; vertical-align: middle; }
  #sub-header { position: relative; z-index: 2; }
  #sub-header header.page-header { padding: 0px 60px; }
  .wpv-grid.left-border::before { position: absolute; top: 0%; bottom: 0%; left: 0px; width: 1px; height: 100%; content: ""; }
}
@media (min-width: 1281px) {
}
@media (min-width: 959px) and (max-width: 1280px) {
  .responsive-layout header.main-header { position: relative; top: 0px; right: 0px; left: 0px; margin: 0px; }
  .responsive-layout header.main-header #header-text { display: none; }
  .responsive-layout header.main-header .second-row .second-row-columns { display: block; }
  .responsive-layout #footer-sidebars > .row .widget { padding-left: 20px; padding-right: 20px; }
}
@media (max-width: 958px) {
  .responsive-layout .grid-1-2, .responsive-layout .grid-1-3, .responsive-layout .grid-1-4, .responsive-layout .grid-1-5, .responsive-layout .grid-1-6, .responsive-layout .grid-2-3, .responsive-layout .grid-2-5, .responsive-layout .grid-3-4, .responsive-layout .grid-3-5, .responsive-layout .grid-4-5, .responsive-layout .grid-5-6, .responsive-layout aside.left, .responsive-layout aside.right, .responsive-layout .left-only, .responsive-layout .right-only, .responsive-layout .left-right { float: none ! important; clear: both ! important; margin-bottom: 0px; width: 100% ! important; }
  .responsive-layout .grid-1-2:last-child, .responsive-layout .grid-1-3:last-child, .responsive-layout .grid-1-4:last-child, .responsive-layout .grid-1-5:last-child, .responsive-layout .grid-1-6:last-child, .responsive-layout .grid-2-3:last-child, .responsive-layout .grid-2-5:last-child, .responsive-layout .grid-3-4:last-child, .responsive-layout .grid-3-5:last-child, .responsive-layout .grid-4-5:last-child, .responsive-layout .grid-5-6:last-child, .responsive-layout aside.left:last-child, .responsive-layout aside.right:last-child, .responsive-layout .left-only:last-child, .responsive-layout .right-only:last-child, .responsive-layout .left-right:last-child { margin-bottom: 0px; }
  .responsive-layout .grid-1-1 { margin-bottom: 0px; float: none; clear: both; }
  .responsive-layout .grid-1-1::before, .responsive-layout .grid-1-1::after { content: " "; display: table; }
  .responsive-layout .grid-1-1::after { clear: both; }
  .responsive-layout .grid-1-1::before, .responsive-layout .grid-1-1::after { content: " "; display: table; }
  .responsive-layout .grid-1-1::after { clear: both; }
  .responsive-layout .grid-1-1:last-child { margin-bottom: 0px; }
  .responsive-layout #header-sidebars aside, .responsive-layout #footer-sidebars aside { display: block ! important; clear: both ! important; margin: 0px 0px 15px ! important; width: 100% ! important; }
  .responsive-layout #header-sidebars aside section, .responsive-layout #footer-sidebars aside section { margin: 0px; }
  .responsive-layout #footer-sidebars aside { padding: 0px ! important; }
  .responsive-layout .row { margin-bottom: 0px; }
  .responsive-layout .row:last-child { margin-bottom: 0px; }
  .responsive-layout .copyrights { padding: 10px 0px; }
  .responsive-layout .copyrights, .responsive-layout .copyrights * { text-align: center ! important; }
  .responsive-layout .meta-header-inside { width: 100%; }
  .responsive-layout #footer-sidebars { overflow: hidden; }
  .responsive-layout #footer-sidebars .widget { padding: 0px 30px ! important; }
  .responsive-layout footer.main-footer { padding-top: 30px; padding-bottom: 30px; }
  .responsive-layout #sub-header { position: relative; z-index: 2; }
  .responsive-layout #sub-header header.page-header { padding: 0px 30px; }
  .responsive-layout #sub-header header.page-header .title { padding: 30px 0px 0px; }
  .responsive-layout #sub-header .meta-header-inside { position: relative; padding: 0px 0px 30px; width: 100%; }
  .responsive-layout .page-wrapper > div, .responsive-layout .page-wrapper > article { padding-right: 15px ! important; padding-left: 15px ! important; }
  .responsive-layout #page { overflow: hidden; }
  .responsive-layout .meta-header-inside { padding: 0px 0px 30px; }
  .responsive-layout .wpv-grid.hide-bg-lowres, .responsive-layout .wpv-grid.hide-bg-lowres > .wpv-parallax-bg-img { background-image: none ! important; }
  .responsive-layout .wpv-hide-lowres { display: none; }
  .responsive-layout .extended-column-inner { padding: 0px; }
}
@media (min-width: 700px) and (max-width: 958px) {
}
@media (max-width: 479px) {
  .responsive-layout .page-header h1 { line-height: 1.2em; font-size: 24px; }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-left .logo-wrapper .logo img { max-width: 120px ! important; }
  .responsive-layout .linkarea table td { display: block; }
}
@media (max-width: 959px) {
  .responsive-layout header.main-header { position: relative; top: 0px; right: 0px; left: 0px; margin: 0px; }
  .responsive-layout header.main-header .logo-wrapper .logo { min-width: 0px ! important; width: 100%; display: table-cell; vertical-align: middle; }
  .responsive-layout header.main-header .logo-wrapper .logo img { top: 0px; display: block; opacity: 1 ! important; height: auto; max-width: 100%; }
  .responsive-layout header.main-header .logo-wrapper .logo img.alternative-logo { display: none; }
  .responsive-layout header.main-header .logo-wrapper .mobile-logo-additions { display: table-cell; vertical-align: middle; text-align: right; white-space: nowrap; }
  .responsive-layout header.main-header .logo-wrapper .mobile-logo-additions .header-search { vertical-align: middle; }
  .responsive-layout header.main-header #header-text { display: none; }
  .responsive-layout header.main-header .second-row .second-row-columns { display: block; }
  .responsive-layout header.main-header .second-row .second-row-columns .header-center { display: block; }
  .responsive-layout header.main-header .search-wrapper { display: none; }
  .responsive-layout .fixed-header-box .logo-wrapper { padding-right: 20px; }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row { display: block; min-height: 0px; height: auto; }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-wrapper { padding: 0px; height: auto; }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-right { display: none; }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-left { display: block; margin-bottom: 0px; min-height: 0px; height: auto; }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-left .logo-wrapper { display: block; min-height: 0px; }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-left .logo-wrapper .logo { top: 0px; }
  .responsive-layout header.main-header.layout-logo-text-menu .first-row-left .logo-wrapper .logo img { padding: 10px 0px ! important; top: 0px ! important; max-width: 200px; }
  .responsive-layout header.main-header .top-nav, .responsive-layout header.main-header .second-row { display: none ! important; }
  .responsive-layout header.main-header .logo { padding: 10px 0px; }
  .responsive-layout header.main-header .logo img { max-height: 65px; }
  .responsive-layout header.main-header .logo-wrapper { padding-left: 70px; clear: both; }
  .responsive-layout header.main-header .logo-wrapper::before, .responsive-layout header.main-header .logo-wrapper::after { content: " "; display: table; }
  .responsive-layout header.main-header .logo-wrapper::after { clear: both; }
  .responsive-layout header.main-header .logo-wrapper::before, .responsive-layout header.main-header .logo-wrapper::after { content: " "; display: table; }
  .responsive-layout header.main-header .logo-wrapper::after { clear: both; }
  .responsive-layout .fixed-header-box { padding: 0px; }
  .responsive-layout #menus { float: none; display: inline-block; }
  .responsive-layout #mp-menu-trigger { position: absolute; top: 50%; left: 0px; z-index: 600; display: block; margin-top: -17.5px; padding-left: 20px; padding-right: 20px; width: 35px; height: 35px; text-indent: -100000px; cursor: pointer; visibility: hidden; }
  .responsive-layout #mp-menu-trigger::before { position: absolute; top: 0px; left: 20px; padding: 0px; width: 35px; height: 35px; color: rgb(240, 84, 45); text-indent: 0px; font-size: 35px; line-height: 0.9; }
  .responsive-layout .mp-pusher { position: relative; left: 0px; height: 100%; }
  .responsive-layout .mp-menu { position: fixed; top: 0px; left: -270px; z-index: 110 ! important; display: block; width: 270px; height: 100%; background-color: rgb(237, 237, 237); }
  .responsive-layout .mp-menu ul { margin: 0px; padding: 0px; list-style: outside none none; }
  .responsive-layout .mp-menu ul li { padding-bottom: 0px; }
  .responsive-layout .mp-menu ul li li:first-child { padding-top: 0px; }
  .responsive-layout .mp-menu ul li > a { font: 600 13px/30px "Raleway"; transition: background 0.3s ease-out 0s, box-shadow 0.3s ease-out 0s; display: block; padding: 10px 20px; outline: medium none; box-shadow: 0px -1px rgba(255, 255, 255, 0.2) inset; color: rgb(0, 0, 0); }
  .responsive-layout .mp-menu ul li > a.has-children::after { float: right; margin-right: -10px; color: rgb(0, 0, 0); content: ""; font-size: 15px; font-family: "theme"; font-style: normal; }
  .responsive-layout .mp-menu ul li > a:hover { text-decoration: none; }
  .responsive-layout .mp-menu ul li::before { position: absolute; left: 10px; z-index: -1; color: rgba(0, 0, 0, 0.2); line-height: 3.5; }
  .responsive-layout .mp-menu h2 { font: 700 1em/30px "Raleway"; margin: 0px; padding: 1em; color: rgb(0, 0, 0); text-transform: uppercase; letter-spacing: 1px; }
  .responsive-layout .mp-menu .mp-level .mp-level:not(.mp-level-open), .responsive-layout .mp-menu .mp-level.mp-level-open .mp-level:not(.mp-level-open) { display: none; }
  .responsive-layout .mp-level { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgb(237, 237, 237) none repeat scroll 0% 0%; }
  .responsive-layout .mp-level::after { z-index: -1; }
  .responsive-layout .mp-level .mp-level { position: relative; }
  .responsive-layout .mp-pusher::after, .responsive-layout .mp-level::after, .responsive-layout .mp-level::before { position: absolute; top: 0px; right: 0px; width: 0px; height: 0px; content: ""; opacity: 0; }
  .responsive-layout .mp-pusher::after { transition: opacity 0.3s ease-out 0s, width 0.1s ease-out 0.3s, height 0.1s ease-out 0.3s; background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%; z-index: 100; }
  .responsive-layout .mp-menu ul li a:hover:not(.mp-back) { background: transparent none repeat scroll 0% 0%; color: rgb(240, 84, 45); }
  .responsive-layout .mp-back { transition: background 0.3s ease-out 0s; position: relative; display: block; padding: 1em; outline: medium none; background: rgb(43, 47, 52) none repeat scroll 0% 0%; box-shadow: 0px 1px rgba(255, 255, 255, 0.1) inset; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 1px; font: bold 14px/20px "Raleway"; }
  .responsive-layout .mp-back::after { position: absolute; right: 10px; color: rgb(255, 255, 255); content: ""; font-size: 15px; font-family: "theme"; font-weight: normal; font-style: normal; }
}
@media print {
  * { background: transparent none repeat scroll 0% 0% ! important; color: black ! important; text-shadow: none ! important; filter: none ! important; }
  a, a:visited { color: rgb(68, 68, 68) ! important; text-decoration: underline; }
  a[href]::after { content: " (" attr(href) ")"; }
  .ir a::after, a[href^="javascript:"]::after, a[href^="#"]::after { content: ""; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 {  }
  h2, h3 { page-break-after: avoid; }
}
