/* Code tidied up by ScrapBook */
._5qxm { background-position: center center; background-size: cover; display: flex; margin-bottom: 7px; margin-top: 7px; overflow: hidden; position: relative; }
._5qxn { margin-left: -12px; margin-right: -12px; }
._620g { margin-bottom: 0px; }
._5qxm::after, ._5qxm::before { background-color: rgba(0, 0, 0, 0.1); content: ""; display: block; height: 1px; left: 0px; position: absolute; right: 0px; }
._5qxm::after { top: 0px; }
._5qxm::before { bottom: 0px; }
._4a6n { box-sizing: border-box; flex-grow: 1; width: 100%; }
._5v3q ._4a6n :first-child { margin-top: 0px; }
._5v3q ._4a6n :last-child { margin-bottom: 0px; }
._5z6m { align-items: center; bottom: 0px; display: flex; position: absolute; right: 0px; top: 0px; }
._5z6n { display: block; float: left; }
._5z6o { display: block; width: 100%; }
._a5_ { display: block; visibility: hidden; }
