/* Code tidied up by ScrapBook */
._605a ._4ooo:not(._1ve7), ._5eit ._4ooo:not(._1ve7) { border-radius: 50%; overflow: hidden; }
._38vo { position: relative; }
._605a ._38vo:not(._1x2_)::after, ._5eit ._38vo:not(._1x2_)::after { border-radius: 50%; }
._38vo::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
._44ma { display: block; }
div._1_lk { margin-left: 0px; margin-top: 0px; }
._1_lk ._5jmm { border: 0px none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12); margin-bottom: 0px; margin-top: 10px; }
._1_lk ._5jmm:first-of-type { margin-top: 0px; }
._2f7y { padding-top: 8px; text-align: center; }
._2_79 { letter-spacing: 0.15px; }
._3hft ._435r { padding-right: 5px; }
._2_1h { margin: 12px 12px 0px; }
._rb9 { border-top: 1px solid rgb(240, 240, 240); }
._2165, ._22v4 { display: block; }
._2166, ._4mlr { bottom: 1px; position: relative; }
._36iq { cursor: pointer; font-size: 12px; font-weight: bold; line-height: 16px; text-align: center; }
._3xre { color: rgb(127, 127, 127); }
._2yf7 { vertical-align: bottom; }
._2yf7._5jp { display: inline-block; }
._2yf7._3wdt { display: none; }
._4d-l { margin-bottom: 11px; }
._5pcb { margin-left: -18px; }
.safetyStream ._5pcb, ._1nvm ._5pcb, ._4x2x ._5pcb, ._5tmf._5pcb, ._5vb_ ._5pcb, ._5sem ._5pcb, ._5zlf ._5pcb, ._1kzb ._5pcb, ._8pj6 ._5pcb, .permalinkPost ._5pcb { margin-left: 0px; }
._49u4, ._4r_y { height: 0px; left: 0px; overflow: visible; position: absolute; right: 0px; }
._4r_y { top: -1px; }
#unifiedQueueWrapper ._4r_y, ._5tmf ._4r_y { margin-top: 0px; position: initial; }
._5pat { position: relative; overflow-wrap: break-word; }
._5v3q ._1dwg { padding: 12px 12px 0px; }
._5pb8 { float: left; }
._5pat ._5sq7 { height: 40px; width: 40px; }
._4_vv, ._4mrt:empty { border-style: none; margin: 0px; }
._3ds9 { border-bottom: 1px solid rgb(229, 229, 229); padding-bottom: 12px; }
._5pbw, ._5pbx { font-size: 14px; font-weight: normal; line-height: 1.38; }
._3576 { margin-top: 6px; }
._yd0 { overflow: visible; }
._3577 { padding-top: 3px; }
._5_jv, ._58jw { font-size: 24px; font-weight: 300; letter-spacing: 0px; line-height: 28px; margin: 7px 0px; }
._5v3q ._58jw :first-child { margin-top: 0px; }
._5v3q ._58jw :last-child { margin-bottom: 0px; }
._5v3q ._5pbx p { margin: 6px 0px; }
._5v3q ._5pbx p:first-child { margin-top: 0px; }
._5v3q ._5pbx > p:last-of-type { display: inline; margin-bottom: 0px; }
.prl { padding-right: 20px; }
.mtm { margin-top: 10px; }
.mbs { margin-bottom: 5px; }
.mbm { margin-bottom: 10px; }
._29k { display: table-cell; vertical-align: top; width: 10000px; }
._29h { float: left; margin-right: 5px; }
._29h .img, img._29h, i._29h { display: block; }
._302 { float: right; }
._303 { margin-right: 8px; }
._3dp._29k > div { display: inherit; }
a._39g5 { color: rgb(144, 148, 156); }
._rw { height: 50px; width: 50px; }
._s0:only-child { display: block; }
.sp_Tu5qONy7FXF { background-image: url("cQH7wcbHb6b.png"); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 16px; width: 16px; }
.sp_Tu5qONy7FXF.sx_a59fdb { width: 24px; height: 24px; background-position: 0px -24px; }
.sp_Tu5qONy7FXF.sx_d9e05e { background-position: -34px -116px; }
.sp_Tu5qONy7FXF.sx_cd6475 { background-position: 0px -133px; }
.sp_Tu5qONy7FXF.sx_6fb1ab { background-position: -34px -133px; }
.sp_Tu5qONy7FXF.sx_eaddc9 { background-position: 0px -150px; }
.sp_Tu5qONy7FXF.sx_094fbd { background-position: -34px -150px; }
.sp_Tu5qONy7FXF.sx_60424f { background-position: 0px -167px; }
