/* Code tidied up by ScrapBook */
body, html { margin: 0px; padding: 0px; font-family: "Helvetica Neue",Helvetica,Arial,FreeSans,sans-serif; line-height: 12px; }
a { display: inline-block; padding: 0px 8px; border-radius: 3px; font-size: 11px; border: 1px solid rgb(210, 211, 211); line-height: 18px; font-weight: bold; }
.iubenda-white { background: rgb(255, 255, 255) url("icon_green_mini.png") no-repeat scroll 6px 2px / auto 14px; padding-left: 20px; text-decoration: none; color: rgb(89, 99, 109); box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08); border-color: rgb(208, 208, 208) rgb(195, 195, 195) rgb(184, 185, 186); }
.iubenda-white:hover { color: rgb(51, 51, 51); }
.iubenda-white:active { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
