/* Code tidied up by ScrapBook */
@keyframes avtbon7i-B {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes jagijxx8-B {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes qkfljus2-B {
0% { transform: translateX(-100%); }
100% { transform: translateX(0px); }
}
@media screen {
}
@media (min-width: 760px) {
}
@media (min-width: 450px) {
}
@media screen and (max-width: 580px) {
}
@media (max-width: 760px) {
}
@media screen and (max-width: 700px) {
}
@media (min-width: 450px) {
}
@media screen and (max-width: 580px) {
}
@media (max-width: 1200px) and (orientation: portrait) {
}
@media screen and (max-width: 580px) {
}
@media (max-width: 1200px) {
}
@media (min-width: 450px) {
}
@media (min-width: 760px) {
}
@media (min-width: 450px) {
}
@media (max-width: 1200px) {
}
@media screen and (max-width: 700px) {
}
@media (max-width: 1200px) and (orientation: portrait) {
}
@font-face {
  font-family: "IAGlyphs";
  src: url("AlyZEP7aUV2.eot") format("embedded-opentype"), url("nwONwzmBRIP.ttf") format("truetype"), url("_UzvUhD80O-.svg") format("svg");
}
@supports (object-fit: cover) {
  body ._6jm9 { display: none; opacity: 0; }
}
@supports (object-fit: cover) {
  body ._6jma { display: block; height: 100%; left: 0px; object-fit: cover; opacity: 1; position: absolute; top: 0px; width: 100%; }
}
